In [1]:
import numpy as np
import pandas as pd
import datetime
import copy
import time
import os
import re
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import operator

from tqdm.auto import tqdm, trange
from tqdm.notebook import tqdm
from datetime import timedelta

tqdm.pandas()

In [2]:
# Edit to point to your MIMIC directory.
dataDirStr = '/Users/gmessier/data/mimic-1.4/'

In [3]:
diagnoses_icd_df = pd.read_csv(dataDirStr + "DIAGNOSES_ICD.csv")
diagnoses_icd_df.columns = diagnoses_icd_df.columns.str.lower()
diagnoses_icd_df

        row_id  subject_id  hadm_id  seq_num icd9_code
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
...        ...         ...      ...      ...       ...
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]

`DIAGNOSES_ICD` contains ICD diagnoses for patients. The ICD codes are generated for billing purposes at the end of the hospital stay.

Refer to `D_ICD_DIAGNOSES` table for exact definitions of `icd9_code`.

In [4]:
print(f"There have been {diagnoses_icd_df.subject_id.nunique()} patients who have an ICD code diagnosis")

There have been 46520 patients who have an ICD code diagnosis

`icd9_code` contains the  code corresponding to the diagnosis assigned to the patient for the given row.

In [5]:
c = diagnoses_icd_df.icd9_code.value_counts()[:5]
p = diagnoses_icd_df.icd9_code.value_counts(normalize=True).mul(100).round(2)[:5]
pd.concat([c,p], axis=1, keys=['counts', '%'])

           counts     %
icd9_code
4019        20703  3.18
4280        13111  2.01
42731       12891  1.98
41401       12429  1.91
5849         9119  1.40