In [15]:
#  Pre-Process Retrosheet Data.ipynb - Pre-processes data from retrosheet.org
#     Copyright (C) 2020  Geoffrey G. Messier
# 
#     This program is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
# 
#     This program is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
# 
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.

In [16]:
%matplotlib inline
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import scipy as sci
import scipy.special as scisp
import scipy.stats as scist
import datetime, copy, imp
import re
import sys


import MySQLdb

import pymysql.cursors;

from tqdm import tqdm
from mpl_toolkits.mplot3d import Axes3D

tqdm.pandas()
plt.ion()

### Introduction
I used this notebook to create the `Games` table in the practice SQL database using data downloaded from retrosheet.org.  Much of this work involved extracting the different game events that I wanted to isolate for further analysis.  The final output of this notebook is an HDF and CSV export of `Games`.

### SQL Database Connection
I have the original retrosheet data on a private SQL server running locally on my computer.  The first step is to extract the relevant columns from the retrosheet `events` table which are generated from their events files.  For this, I use the MySQLdb library and the SQL query capability of pandas.

The goal is to create a baseball player data record where time stamped events are created for each player.  This data is similar to a shelter, justice or healthcare record where a client/patient experiences a series of events.  The analysis is all about individual journey mapping and trying to identify events that predict outcomes.  Journey mapping could include different visualization techniques.  The prediction work emphasizes making decisions early in a player's timeline and producing prediction rules that are human recognizable.

In [17]:
# -- Conect to Database --
connection = MySQLdb.connect(host='127.0.0.1',
                         user='bbos',
                         password='bbos',
                         db='retrosheet');

In [28]:
commandStr = """
    select
        GAME_ID GameId,
        AWAY_TEAM_ID AwayTeamId,
        INN_CT Inning,
        BAT_HOME_ID TopBottom,
        PITCH_SEQ_TX PitchSeq,
        EVENT_TX Result,
        BAT_ID Batter,
        BASE1_RUN_ID RunnerBase1,
        BASE2_RUN_ID RunnerBase2,
        BASE3_RUN_ID RunnerBase3,
        POS2_FLD_ID Catcher,
        POS3_FLD_ID FirstBase,
        POS4_FLD_ID SecondBase,
        POS5_FLD_ID ThirdBase,
        POS6_FLD_ID ShortStop,
        POS7_FLD_ID LeftField,
        POS8_FLD_ID CenterField,
        POS9_FLD_ID RightField
    from events
    where events.GAME_ID regexp '^...2010'
    """

df = pd.read_sql(commandStr,connection)
df

,GameId,AwayTeamId,Inning,TopBottom,PitchSeq,Result,Batter,RunnerBase1,RunnerBase2,RunnerBase3,Catcher,FirstBase,SecondBase,ThirdBase,ShortStop,LeftField,CenterField,RightField
0,ANA201004050,MIN,1,0,CSBFFBFC,K,spand001,,,,mathj001,morak001,kendh001,woodb003,aybae001,rivej001,huntt001,abreb001
1,ANA201004050,MIN,1,0,FX,43/G-,hudso001,,,,mathj001,morak001,kendh001,woodb003,aybae001,rivej001,huntt001,abreb001
2,ANA201004050,MIN,1,0,CBX,43/G,mauej001,,,,mathj001,morak001,kendh001,woodb003,aybae001,rivej001,huntt001,abreb001
3,ANA201004050,MIN,1,1,BBCCFBFFFB,W,aybae001,,,,mauej001,mornj001,hudso001,puntn001,hardj003,yound003,spand001,cuddm001
4,ANA201004050,MIN,1,1,CX,8/F,abreb001,aybae001,,,mauej001,mornj001,hudso001,puntn001,hardj003,yound003,spand001,cuddm001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191830,WAS201009290,PHI,9,0,CSBC,K,hoovp001,,,,ramow001,dunna001,espid001,gonza005,desmi001,harrw001,morgn001,morsm001
191831,WAS201009290,PHI,9,0,.CCBX,53/G,wertj001,,,,ramow001,dunna001,espid001,gonza005,desmi001,harrw001,morgn001,morsm001
191832,WAS201009290,PHI,9,1,.SBSBS,K,dunna001,,,,hoovp001,sweem002,valdw001,dobbg001,bocob001,franb001,maybj001,browd004
191833,WAS201009290,PHI,9,1,FCX,9/F,morsm001,,,,hoovp001,sweem002,valdw001,dobbg001,bocob001,franb001,maybj001,browd004
191834,WAS201009290,PHI,9,1,BCBCX,8/F,harrw001,,,,hoovp001,sweem002,valdw001,dobbg001,bocob001,franb001,maybj001,browd004

#### Games Table Format
- Much of the code below involves analyzing the letters in the retrosheet event strings.  These are described in detail [here](https://www.retrosheet.org/eventfile.htm).
- Any irrelevant fields for a row (ie. strike count for a defensive play entry) are null.
- Pitchers are excluded from the analysis.
- Fields:
  - `Time`: A timestamp that starts at 12:00pm (first game), 3:01pm (second game), 6:02 (third game).  Increments by 6 minutes for every at bat (based on average 3.5 batters/inning and 20min innings).
  - `GameId`
  - `Inning`
  - `TopBottom`
  - `PlayerId`
  - `Position`: Batter, Catcher, FirstBase, SecondBase, ThirdBase, ShortStop, LeftField, CenterField, RightField
  - `Event`: 
   - Event values for Batter: StrikeOut, PutOut (out because of a defensive play), Walk, Hit, Run, Steal 
   - Event values for defensive positions: Out, Error (player assigned an error)
  - Fields associated with Batter:
    - `PitchCount`: Number of pitches thrown during the at bat.
    - `Rbi`: Number of runners that score as a result of a player's hit.
    - `StartBase`: 1 - 4 where home base is 4.
    - `EndBase`
  - Fields associated with defensive positions:
    - `Outs`: Number of outs resulting from the defensive play.
    - `Players`: Number of players involved (one if the player got the out by himself).

In [29]:
topBottom = { 0: 'Top', 1: 'Bottom' }
playerTeam = { }
fielders = { 
    2: 'Catcher', 3: 'FirstBase', 4: 'SecondBase', 5: 'ThirdBase', 
    6: 'ShortStop', 7: 'LeftField', 8: 'CenterField', 9: 'RightField'
}


def CreatePlayerEvent(eventType, position, playerId, teamId,
                      pitchCount = np.nan, rbi = np.nan, startBase = np.nan, endBase = np.nan,
                      outs = np.nan, players = np.nan, score = [ 0, 0 ]):
     return pd.Series({ 
        'HomeScore': score[0],'AwayScore': score[1],
        'PlayerId': playerId,'Position': position, 
        'PlayerTeam': teamId,'Event': eventType, 
        'PitchCount': pitchCount,'Rbi': rbi,
        'StartBase': startBase,'EndBase': endBase,
        'Outs': outs,'Players': players
        })

In [30]:
hitRegex = re.compile("^(S\d|D\d|T\d|DGR|HR|HP)"); # For now, includes being hit by a pitch.
runRegex = re.compile("\d-(?:\d|H)")
stealRegex = re.compile("SB(?:\d|H)")
singleRegex = re.compile("^S|^HP");
doubleRegex = re.compile("^D");
tripleRegex = re.compile("^T");
homerunRegex = re.compile("^H");
rbiRegex = re.compile("-H");
walkRegex = re.compile("^(?:IW|W(?:[^P]|$))")
strikeOutRegex = re.compile("^K")
errorRegex = re.compile("E\d")
pitchRegex = re.compile("(B|C|F|H|I|K|L|M|N|O|P|Q|R|S|T|U|V|X|Y)")
fieldOutRegex = re.compile("^(?:\d+(?:\(.\))*)+")

In [31]:
def ProcessGame(atBats):
    
    events = pd.DataFrame(
        columns = [ 
            'Time', 'HomeTeam', 'AwayTeam', 'Inning', 'TopBottom', 'HomeScore', 'AwayScore', 
            'PlayerId', 'Position', 'PlayerTeam', 
            'Event', 'PitchCount', 'Rbi', 'StartBase', 'EndBase', 'Outs', 'Players' ])
    
    gameStr = atBats.iloc[0].GameId
    dateStr = gameStr[3:7] + '-' + gameStr[7:9] + '-' + gameStr[9:11]
        
    if gameStr[-1] == '0':
        curTime = pd.to_datetime(dateStr + ' 12:00')
    elif gameStr[-1] == '1':
        curTime = pd.to_datetime(dateStr + ' 15:01')
    elif gameStr[-1] == '2':
        curTime = pd.to_datetime(dateStr + ' 18:02')
    else:
        sys.exit("ERROR: Can't handle more than a triple header.")
        
    nEvents = 0
    score = [ 0, 0 ]
    teams = [ gameStr[0:3], atBats.iloc[0].AwayTeamId ]
    
    for ind,atBat in atBats.iterrows():
    
        topBottomId = int(atBat.TopBottom)
        inFieldId = topBottomId
        atBatId = (inFieldId+1) % 2
        
        timeInfo = pd.Series({'Time': curTime, 
                              'HomeTeam': teams[0],
                              'AwayTeam': teams[1],
                              'Inning': int(atBat.Inning), 
                              'TopBottom': topBottom[topBottomId]
                             })
    
        pitchCount = len(pitchRegex.findall(atBat.PitchSeq))
                
        # --------- Fielders' Out -----------
        if fieldOutRegex.search(atBat.Result):
            
            plays = re.split('\)',fieldOutRegex.findall(atBat.Result)[0])
            plays = list(filter(None,plays))
            nOuts = len(plays)
            
            nFielders = 0
            for play in plays:
                players = re.split('\(',play)
                nFielders += len(players[0])
            
            for play in plays:
                
                players = re.split('\(',play)
                
                if (len(plays) == 1      # Batter is put out if there's no double/triple play
                    or players[0] == '3' # Final fielder is first base
                    or 'B' in play):     # Batter is explicitly out
                        
                    eventInfo = CreatePlayerEvent(
                        'PutOut', 
                        position = 'Batter',
                        playerId = atBat.Batter, 
                        teamId = teams[atBatId],
                        pitchCount = pitchCount,
                        score = score)
            
                    events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                    nEvents += 1
            
                for fielder in list(players[0]):
                
                    posNum = int(fielder)
                
                    if posNum == 1: # Ignore pitchers
                        continue
                    
                    eventInfo = CreatePlayerEvent(
                        'Out', 
                        position = fielders[posNum],
                        playerId = atBat[fielders[posNum]], 
                        teamId = teams[inFieldId],
                        outs = nOuts,
                        players = nFielders,
                        score = score)
            
                    events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                    nEvents += 1        

                    
        # --------- Hit -----------
        if hitRegex.search(atBat.Result):

            if singleRegex.search(atBat.Result):
                endBase = 1
            elif doubleRegex.search(atBat.Result):
                endBase = 2
            elif tripleRegex.search(atBat.Result):
                endBase = 3
            else:
                endBase = 4
                score[atBatId] += 1
            
            eventInfo = CreatePlayerEvent(
                'Hit',
                position = 'Batter',
                playerId = atBat.Batter,
                teamId = teams[atBatId],
                pitchCount = pitchCount,
                rbi = len(rbiRegex.findall(atBat.Result)), 
                endBase = endBase,
                score = score)
            
            events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
            nEvents += 1

            
        # --------- Walk -----------
        if walkRegex.search(atBat.Result):
            
            eventInfo = CreatePlayerEvent(
                'Walk',
                position = 'Batter',
                playerId = atBat.Batter,
                teamId = teams[atBatId],
                pitchCount = pitchCount,
                endBase = 1,
                score = score)

            events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
            nEvents += 1

            
        # --------- Run -----------
        if runRegex.search(atBat.Result):
            
            for runStr in runRegex.findall(atBat.Result):

                startBase = int(runStr[0])
                if runStr[-1] == 'H':
                    endBase = 4
                    score[atBatId] += 1
                else:
                    endBase = int(runStr[-1])
            
                eventInfo = CreatePlayerEvent(
                    'Run',
                    position = 'Runner',
                    playerId = atBat['RunnerBase%d' % startBase],
                    teamId = teams[atBatId],
                    startBase = startBase,
                    endBase = endBase,
                    score = score)

                events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                nEvents += 1

                
        # --------- Strike Out -----------
        if strikeOutRegex.search(atBat.Result):
            
            eventInfo = CreatePlayerEvent(
                'StrikeOut',
                position = 'Batter',
                playerId = atBat.Batter,
                teamId = teams[atBatId],
                pitchCount = pitchCount,
                score = score)
            
            events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
            nEvents += 1

    
        # --------- Steal -----------
        if stealRegex.search(atBat.Result):
            
            for stealStr in stealRegex.findall(atBat.Result):

                if stealStr[-1] == 'H':
                    endBase = 4
                    score[atBatId] += 1
                else:
                    endBase = int(stealStr[-1])
                startBase = endBase-1
            
                eventInfo = CreatePlayerEvent(
                    'Steal',
                    position = 'Runner',
                    playerId = atBat['RunnerBase%d' % startBase],
                    teamId = teams[atBatId],
                    startBase = startBase,
                    endBase = endBase,
                    score = score)

                events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                nEvents += 1
            
            
        # --------- Error -----------
        if errorRegex.search(atBat.Result):
            
            for errorStr in errorRegex.findall(atBat.Result):

                posNum = int(errorStr[-1])
                
                if posNum == 1:
                    continue

                eventInfo = CreatePlayerEvent(
                    'Error', 
                    position = fielders[posNum],
                    playerId = atBat[fielders[posNum]], 
                    teamId = teams[inFieldId],
                    score = score)
                
                events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                nEvents += 1
                
                
        curTime += pd.Timedelta('6 min')

    return events
    
#events = ProcessGame(df)

In [32]:
events = df.groupby('GameId').progress_apply(ProcessGame)

100%|██████████| 2430/2430 [10:55<00:00,  3.71it/s]

In [33]:
events

                                 Time HomeTeam AwayTeam Inning TopBottom  \
GameId
ANA201004050 0    2010-04-05 12:00:00      ANA      MIN      1       Top
             1    2010-04-05 12:06:00      ANA      MIN      1       Top
             2    2010-04-05 12:06:00      ANA      MIN      1       Top
             3    2010-04-05 12:06:00      ANA      MIN      1       Top
             4    2010-04-05 12:12:00      ANA      MIN      1       Top
...                               ...      ...      ...    ...       ...
WAS201009290 130  2010-09-29 18:36:00      WAS      PHI      9    Bottom
             131  2010-09-29 18:42:00      WAS      PHI      9    Bottom
             132  2010-09-29 18:42:00      WAS      PHI      9    Bottom
             133  2010-09-29 18:48:00      WAS      PHI      9    Bottom
             134  2010-09-29 18:48:00      WAS      PHI      9    Bottom

                 HomeScore AwayScore  PlayerId     Position PlayerTeam  \
GameId
ANA201004050 0           0         0  spand001       Batter        MIN
             1           0         0  hudso001       Batter        MIN
             2           0         0  kendh001   SecondBase        ANA
             3           0         0  morak001    FirstBase        ANA
             4           0         0  mauej001       Batter        MIN
...                    ...       ...       ...          ...        ...
WAS201009290 130         1         7  dunna001       Batter        WAS
             131         1         7  morsm001       Batter        WAS
             132         1         7  browd004   RightField        PHI
             133         1         7  harrw001       Batter        WAS
             134         1         7  maybj001  CenterField        PHI

                      Event PitchCount  Rbi StartBase EndBase Outs Players
GameId
ANA201004050 0    StrikeOut          8  NaN       NaN     NaN  NaN     NaN
             1       PutOut          2  NaN       NaN     NaN  NaN     NaN
             2          Out        NaN  NaN       NaN     NaN    1       2
             3          Out        NaN  NaN       NaN     NaN    1       2
             4       PutOut          3  NaN       NaN     NaN  NaN     NaN
...                     ...        ...  ...       ...     ...  ...     ...
WAS201009290 130  StrikeOut          5  NaN       NaN     NaN  NaN     NaN
             131     PutOut          3  NaN       NaN     NaN  NaN     NaN
             132        Out        NaN  NaN       NaN     NaN    1       1
             133     PutOut          5  NaN       NaN     NaN  NaN     NaN
             134        Out        NaN  NaN       NaN     NaN    1       1

[361154 rows x 17 columns]

In [34]:
events.Time = pd.to_datetime(events.Time)
events.Inning = events.Inning.astype('int')
events.HomeScore = events.HomeScore.astype('int')
events.AwayScore = events.AwayScore.astype('int')
events.PitchCount = events.PitchCount.astype('float')
events.Rbi = events.Rbi.astype('float')
events.StartBase = events.StartBase.astype('float')
events.EndBase = events.EndBase.astype('float')
events.Outs = events.Outs.astype('float')
events.Players = events.Players.astype('float')

In [35]:
events.dtypes

Time          datetime64[ns]
HomeTeam              object
AwayTeam              object
Inning                 int64
TopBottom             object
HomeScore              int64
AwayScore              int64
PlayerId              object
Position              object
PlayerTeam            object
Event                 object
PitchCount           float64
Rbi                  float64
StartBase            float64
EndBase              float64
Outs                 float64
Players              float64
dtype: object

In [36]:
events.to_csv('~/data/baseball/Season-2010.csv',index_label=False,index=False)

In [37]:
events.to_hdf('~/data/baseball/Season-2010.hd5',key='Data')