In [1]:
#  Pre-Process Retrosheet Data.ipynb - Pre-processes data from retrosheet.org
#     Copyright (C) 2020  Geoffrey G. Messier
# 
#     This program is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
# 
#     This program is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
# 
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.

In [2]:
%matplotlib inline
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import scipy as sci
import scipy.special as scisp
import scipy.stats as scist
import datetime, copy, imp
import re
import sys


import MySQLdb

import pymysql.cursors;

from tqdm import tqdm
from mpl_toolkits.mplot3d import Axes3D

tqdm.pandas()
plt.ion()

### Introduction
I used this notebook to create the `Games` table in the practice SQL database using data downloaded from retrosheet.org.  Much of this work involved extracting the different game events that I wanted to isolate for further analysis.  The final output of this notebook is an HDF and CSV export of `Games`.

### SQL Database Connection
I have the original retrosheet data on a private SQL server running locally on my computer.  The first step is to extract the relevant columns from the retrosheet `events` table which are generated from their events files.  For this, I use the MySQLdb library and the SQL query capability of pandas.

The goal is to create a baseball player data record where time stamped events are created for each player.  This data is similar to a shelter, justice or healthcare record where a client/patient experiences a series of events.  The analysis is all about individual journey mapping and trying to identify events that predict outcomes.  Journey mapping could include different visualization techniques.  The prediction work emphasizes making decisions early in a player's timeline and producing prediction rules that are human recognizable.

In [3]:
# -- Conect to Database --
connection = MySQLdb.connect(host='127.0.0.1',
                         user='bbos',
                         password='bbos',
                         db='retrosheet');

In [4]:
commandStr = """
    select
        GAME_ID GameId,
        AWAY_TEAM_ID AwayTeamId,
        INN_CT Inning,
        BAT_HOME_ID TopBottom,
        PITCH_SEQ_TX PitchSeq,
        EVENT_TX Result,
        BAT_ID Batter,
        BASE1_RUN_ID RunnerBase1,
        BASE2_RUN_ID RunnerBase2,
        BASE3_RUN_ID RunnerBase3,
        POS2_FLD_ID Catcher,
        POS3_FLD_ID FirstBase,
        POS4_FLD_ID SecondBase,
        POS5_FLD_ID ThirdBase,
        POS6_FLD_ID ShortStop,
        POS7_FLD_ID LeftField,
        POS8_FLD_ID CenterField,
        POS9_FLD_ID RightField
    from events
    where events.GAME_ID regexp '^...2010'
    """

df = pd.read_sql(commandStr,connection)
df

,GameId,AwayTeamId,Inning,TopBottom,PitchSeq,Result,Batter,RunnerBase1,RunnerBase2,RunnerBase3,Catcher,FirstBase,SecondBase,ThirdBase,ShortStop,LeftField,CenterField,RightField
0,ANA201004050,MIN,1,0,CSBFFBFC,K,spand001,,,,mathj001,morak001,kendh001,woodb003,aybae001,rivej001,huntt001,abreb001
1,ANA201004050,MIN,1,0,FX,43/G-,hudso001,,,,mathj001,morak001,kendh001,woodb003,aybae001,rivej001,huntt001,abreb001
2,ANA201004050,MIN,1,0,CBX,43/G,mauej001,,,,mathj001,morak001,kendh001,woodb003,aybae001,rivej001,huntt001,abreb001
3,ANA201004050,MIN,1,1,BBCCFBFFFB,W,aybae001,,,,mauej001,mornj001,hudso001,puntn001,hardj003,yound003,spand001,cuddm001
4,ANA201004050,MIN,1,1,CX,8/F,abreb001,aybae001,,,mauej001,mornj001,hudso001,puntn001,hardj003,yound003,spand001,cuddm001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191830,WAS201009290,PHI,9,0,CSBC,K,hoovp001,,,,ramow001,dunna001,espid001,gonza005,desmi001,harrw001,morgn001,morsm001
191831,WAS201009290,PHI,9,0,.CCBX,53/G,wertj001,,,,ramow001,dunna001,espid001,gonza005,desmi001,harrw001,morgn001,morsm001
191832,WAS201009290,PHI,9,1,.SBSBS,K,dunna001,,,,hoovp001,sweem002,valdw001,dobbg001,bocob001,franb001,maybj001,browd004
191833,WAS201009290,PHI,9,1,FCX,9/F,morsm001,,,,hoovp001,sweem002,valdw001,dobbg001,bocob001,franb001,maybj001,browd004
191834,WAS201009290,PHI,9,1,BCBCX,8/F,harrw001,,,,hoovp001,sweem002,valdw001,dobbg001,bocob001,franb001,maybj001,browd004

#### Games Table Format
- Much of the code below involves analyzing the letters in the retrosheet event strings.  These are described in detail [here](https://www.retrosheet.org/eventfile.htm).
- Any irrelevant fields for a row (ie. strike count for a defensive play entry) are null.
- Pitchers are excluded from the analysis.
- Fields:
  - `Time`: A timestamp that starts at 12:00pm (first game), 3:01pm (second game), 6:02 (third game).  Increments by 6 minutes for every at bat (based on average 3.5 batters/inning and 20min innings).
  - `GameId`
  - `Inning`
  - `TopBottom`
  - `PlayerId`
  - `Position`: Batter, Catcher, FirstBase, SecondBase, ThirdBase, ShortStop, LeftField, CenterField, RightField
  - `Event`: 
   - Event values for Batter: StrikeOut, PutOut (out because of a defensive play), Walk, Hit, Run, Steal 
   - Event values for defensive positions: Out, Error (player assigned an error)
  - Fields associated with Batter:
    - `PitchCount`: Number of pitches thrown during the at bat.
    - `Rbi`: Number of runners that score as a result of a player's hit.
    - `StartBase`: 1 - 4 where home base is 4.
    - `EndBase`
  - Fields associated with defensive positions:
    - `Outs`: Number of outs resulting from the defensive play.
    - `Players`: Number of players involved (one if the player got the out by himself).

In [5]:
topBottom = { 0: 'Top', 1: 'Bottom' }
playerTeam = { }
fielders = { 
    2: 'Catcher', 3: 'FirstBase', 4: 'SecondBase', 5: 'ThirdBase', 
    6: 'ShortStop', 7: 'LeftField', 8: 'CenterField', 9: 'RightField'
}


def CreatePlayerEvent(eventType, position, playerId, teamId,
                      pitchCount = np.nan, rbi = np.nan, startBase = np.nan, endBase = np.nan,
                      outs = np.nan, players = np.nan, score = [ 0, 0 ]):
     return pd.Series({ 
        'HomeScore': score[0],'AwayScore': score[1],
        'PlayerId': playerId,'Position': position, 
        'PlayerTeam': teamId,'Event': eventType, 
        'PitchCount': pitchCount,'Rbi': rbi,
        'StartBase': startBase,'EndBase': endBase,
        'Outs': outs,'Players': players
        })

In [6]:
hitRegex = re.compile("^(S\d|D\d|T\d|DGR|HR|HP)"); # For now, includes being hit by a pitch.
runRegex = re.compile("\d-(?:\d|H)")
stealRegex = re.compile("SB(?:\d|H)")
singleRegex = re.compile("^S|^HP");
doubleRegex = re.compile("^D");
tripleRegex = re.compile("^T");
homerunRegex = re.compile("^H");
rbiRegex = re.compile("-H");
walkRegex = re.compile("^(?:IW|W(?:[^P]|$))")
strikeOutRegex = re.compile("^K")
errorRegex = re.compile("E\d")
pitchRegex = re.compile("(B|C|F|H|I|K|L|M|N|O|P|Q|R|S|T|U|V|X|Y)")
fieldOutRegex = re.compile("^(?:\d+(?:\(.\))*)+")

In [7]:
def ProcessGame(atBats):
    
    events = pd.DataFrame(
        columns = [ 
            'Time', 'HomeTeam', 'AwayTeam', 'Inning', 'TopBottom', 'HomeScore', 'AwayScore', 
            'PlayerId', 'Position', 'PlayerTeam', 
            'Event', 'PitchCount', 'Rbi', 'StartBase', 'EndBase', 'Outs', 'Players' ])
    
    gameStr = atBats.iloc[0].GameId
    dateStr = gameStr[3:7] + '-' + gameStr[7:9] + '-' + gameStr[9:11]
        
    if gameStr[-1] == '0':
        curTime = pd.to_datetime(dateStr + ' 12:00')
    elif gameStr[-1] == '1':
        curTime = pd.to_datetime(dateStr + ' 15:01')
    elif gameStr[-1] == '2':
        curTime = pd.to_datetime(dateStr + ' 18:02')
    else:
        sys.exit("ERROR: Can't handle more than a triple header.")
        
    nEvents = 0
    score = [ 0, 0 ]
    teams = [ gameStr[0:3], atBats.iloc[0].AwayTeamId ]
    
    for ind,atBat in atBats.iterrows():
    
        topBottomId = int(atBat.TopBottom)
        inFieldId = topBottomId
        atBatId = (inFieldId+1) % 2
        
        timeInfo = pd.Series({'Time': curTime, 
                              'HomeTeam': teams[0],
                              'AwayTeam': teams[1],
                              'Inning': int(atBat.Inning), 
                              'TopBottom': topBottom[topBottomId]
                             })
    
        pitchCount = len(pitchRegex.findall(atBat.PitchSeq))
                
        # --------- Fielders' Out -----------
        if fieldOutRegex.search(atBat.Result):
            
            plays = re.split('\)',fieldOutRegex.findall(atBat.Result)[0])
            plays = list(filter(None,plays))
            nOuts = len(plays)
            
            nFielders = 0
            for play in plays:
                players = re.split('\(',play)
                nFielders += len(players[0])
            
            for play in plays:
                
                players = re.split('\(',play)
                
                if (len(plays) == 1      # Batter is put out if there's no double/triple play
                    or players[0] == '3' # Final fielder is first base
                    or 'B' in play):     # Batter is explicitly out
                        
                    eventInfo = CreatePlayerEvent(
                        'PutOut', 
                        position = 'Batter',
                        playerId = atBat.Batter, 
                        teamId = teams[atBatId],
                        pitchCount = pitchCount,
                        score = score)
            
                    events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                    nEvents += 1
            
                for fielder in list(players[0]):
                
                    posNum = int(fielder)
                
                    if posNum == 1: # Ignore pitchers
                        continue
                    
                    eventInfo = CreatePlayerEvent(
                        'Out', 
                        position = fielders[posNum],
                        playerId = atBat[fielders[posNum]], 
                        teamId = teams[inFieldId],
                        outs = nOuts,
                        players = nFielders,
                        score = score)
            
                    events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                    nEvents += 1        

                    
        # --------- Hit -----------
        if hitRegex.search(atBat.Result):

            if singleRegex.search(atBat.Result):
                endBase = 1
            elif doubleRegex.search(atBat.Result):
                endBase = 2
            elif tripleRegex.search(atBat.Result):
                endBase = 3
            else:
                endBase = 4
                score[atBatId] += 1
            
            eventInfo = CreatePlayerEvent(
                'Hit',
                position = 'Batter',
                playerId = atBat.Batter,
                teamId = teams[atBatId],
                pitchCount = pitchCount,
                rbi = len(rbiRegex.findall(atBat.Result)), 
                endBase = endBase,
                score = score)
            
            events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
            nEvents += 1

            
        # --------- Walk -----------
        if walkRegex.search(atBat.Result):
            
            eventInfo = CreatePlayerEvent(
                'Walk',
                position = 'Batter',
                playerId = atBat.Batter,
                teamId = teams[atBatId],
                pitchCount = pitchCount,
                endBase = 1,
                score = score)

            events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
            nEvents += 1

            
        # --------- Run -----------
        if runRegex.search(atBat.Result):
            
            for runStr in runRegex.findall(atBat.Result):

                startBase = int(runStr[0])
                if runStr[-1] == 'H':
                    endBase = 4
                    score[atBatId] += 1
                else:
                    endBase = int(runStr[-1])
            
                eventInfo = CreatePlayerEvent(
                    'Run',
                    position = 'Runner',
                    playerId = atBat['RunnerBase%d' % startBase],
                    teamId = teams[atBatId],
                    startBase = startBase,
                    endBase = endBase,
                    score = score)

                events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                nEvents += 1

                
        # --------- Strike Out -----------
        if strikeOutRegex.search(atBat.Result):
            
            eventInfo = CreatePlayerEvent(
                'StrikeOut',
                position = 'Batter',
                playerId = atBat.Batter,
                teamId = teams[atBatId],
                pitchCount = pitchCount,
                score = score)
            
            events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
            nEvents += 1

    
        # --------- Steal -----------
        if stealRegex.search(atBat.Result):
            
            for stealStr in stealRegex.findall(atBat.Result):

                if stealStr[-1] == 'H':
                    endBase = 4
                    score[atBatId] += 1
                else:
                    endBase = int(stealStr[-1])
                startBase = endBase-1
            
                eventInfo = CreatePlayerEvent(
                    'Steal',
                    position = 'Runner',
                    playerId = atBat['RunnerBase%d' % startBase],
                    teamId = teams[atBatId],
                    startBase = startBase,
                    endBase = endBase,
                    score = score)

                events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                nEvents += 1
            
            
        # --------- Error -----------
        if errorRegex.search(atBat.Result):
            
            for errorStr in errorRegex.findall(atBat.Result):

                posNum = int(errorStr[-1])
                
                if posNum == 1:
                    continue

                eventInfo = CreatePlayerEvent(
                    'Error', 
                    position = fielders[posNum],
                    playerId = atBat[fielders[posNum]], 
                    teamId = teams[inFieldId],
                    score = score)
                
                events.at[nEvents] = pd.concat([ timeInfo, eventInfo ])
                nEvents += 1
                
                
        curTime += pd.Timedelta('6 min')

    return events
    
#events = ProcessGame(df)

In [8]:
events = df.groupby('GameId').progress_apply(ProcessGame)

100%|██████████| 2430/2430 [11:11<00:00,  3.62it/s]

In [9]:
events.head(50)

                                Time HomeTeam AwayTeam Inning TopBottom  \
GameId
ANA201004050 0   2010-04-05 12:00:00      ANA      MIN      1       Top
             1   2010-04-05 12:06:00      ANA      MIN      1       Top
             2   2010-04-05 12:06:00      ANA      MIN      1       Top
             3   2010-04-05 12:06:00      ANA      MIN      1       Top
             4   2010-04-05 12:12:00      ANA      MIN      1       Top
             5   2010-04-05 12:12:00      ANA      MIN      1       Top
             6   2010-04-05 12:12:00      ANA      MIN      1       Top
             7   2010-04-05 12:18:00      ANA      MIN      1    Bottom
             8   2010-04-05 12:24:00      ANA      MIN      1    Bottom
             9   2010-04-05 12:24:00      ANA      MIN      1    Bottom
             10  2010-04-05 12:30:00      ANA      MIN      1    Bottom
             11  2010-04-05 12:36:00      ANA      MIN      1    Bottom
             12  2010-04-05 12:42:00      ANA      MIN      1    Bottom
             13  2010-04-05 12:42:00      ANA      MIN      1    Bottom
             14  2010-04-05 12:48:00      ANA      MIN      1    Bottom
             15  2010-04-05 12:48:00      ANA      MIN      1    Bottom
             16  2010-04-05 12:48:00      ANA      MIN      1    Bottom
             17  2010-04-05 12:54:00      ANA      MIN      1    Bottom
             18  2010-04-05 12:54:00      ANA      MIN      1    Bottom
             19  2010-04-05 12:54:00      ANA      MIN      1    Bottom
             20  2010-04-05 13:00:00      ANA      MIN      1    Bottom
             21  2010-04-05 13:00:00      ANA      MIN      1    Bottom
             22  2010-04-05 13:06:00      ANA      MIN      2       Top
             23  2010-04-05 13:12:00      ANA      MIN      2       Top
             24  2010-04-05 13:18:00      ANA      MIN      2       Top
             25  2010-04-05 13:18:00      ANA      MIN      2       Top
             26  2010-04-05 13:24:00      ANA      MIN      2       Top
             27  2010-04-05 13:24:00      ANA      MIN      2       Top
             28  2010-04-05 13:30:00      ANA      MIN      2       Top
             29  2010-04-05 13:30:00      ANA      MIN      2       Top
             30  2010-04-05 13:36:00      ANA      MIN      2    Bottom
             31  2010-04-05 13:42:00      ANA      MIN      2    Bottom
             32  2010-04-05 13:48:00      ANA      MIN      2    Bottom
             33  2010-04-05 13:48:00      ANA      MIN      2    Bottom
             34  2010-04-05 13:48:00      ANA      MIN      2    Bottom
             35  2010-04-05 13:54:00      ANA      MIN      2    Bottom
             36  2010-04-05 13:54:00      ANA      MIN      2    Bottom
             37  2010-04-05 14:00:00      ANA      MIN      3       Top
             38  2010-04-05 14:00:00      ANA      MIN      3       Top
             39  2010-04-05 14:06:00      ANA      MIN      3       Top
             40  2010-04-05 14:12:00      ANA      MIN      3       Top
             41  2010-04-05 14:18:00      ANA      MIN      3       Top
             42  2010-04-05 14:24:00      ANA      MIN      3    Bottom
             43  2010-04-05 14:30:00      ANA      MIN      3    Bottom
             44  2010-04-05 14:30:00      ANA      MIN      3    Bottom
             45  2010-04-05 14:36:00      ANA      MIN      3    Bottom
             46  2010-04-05 14:36:00      ANA      MIN      3    Bottom
             47  2010-04-05 14:42:00      ANA      MIN      4       Top
             48  2010-04-05 14:48:00      ANA      MIN      4       Top
             49  2010-04-05 14:48:00      ANA      MIN      4       Top

                HomeScore AwayScore  PlayerId     Position PlayerTeam  \
GameId
ANA201004050 0          0         0  spand001       Batter        MIN
             1          0         0  hudso001       Batter        MIN
             2          0         0  kendh001   SecondBase        ANA
             3          0         0  morak001    FirstBase        ANA
             4          0         0  mauej001       Batter        MIN
             5          0         0  kendh001   SecondBase        ANA
             6          0         0  morak001    FirstBase        ANA
             7          0         0  aybae001       Batter        ANA
             8          0         0  abreb001       Batter        ANA
             9          0         0  spand001  CenterField        MIN
             10         0         0  aybae001       Runner        ANA
             11         0         0  huntt001       Batter        ANA
             12         0         0  matsh001       Batter        ANA
             13         0         0  hardj003    ShortStop        MIN
             14         0         0  morak001       Batter        ANA
             15         1         0  aybae001       Runner        ANA
             16         1         0  huntt001       Runner        ANA
             17         1         0  rivej001       Batter        ANA
             18         2         0  huntt001       Runner        ANA
             19         2         0  morak001       Runner        ANA
             20         2         0  kendh001       Batter        ANA
             21         2         0  spand001  CenterField        MIN
             22         2         0  mornj001       Batter        MIN
             23         2         0  cuddm001       Batter        MIN
             24         2         0  kubej002       Batter        MIN
             25         2         0  huntt001  CenterField        ANA
             26         2         1  yound003       Batter        MIN
             27         2         2  mornj001       Runner        MIN
             28         2         2  hardj003       Batter        MIN
             29         2         2  morak001    FirstBase        ANA
             30         2         2  woodb003       Batter        ANA
             31         3         2  mathj001       Batter        ANA
             32         3         2  aybae001       Batter        ANA
             33         3         2  puntn001    ThirdBase        MIN
             34         3         2  mornj001    FirstBase        MIN
             35         3         2  abreb001       Batter        ANA
             36         3         2  hudso001   SecondBase        MIN
             37         3         2  puntn001       Batter        MIN
             38         3         2  rivej001    LeftField        ANA
             39         3         2  spand001       Batter        MIN
             40         3         2  hudso001       Batter        MIN
             41         3         2  mauej001       Batter        MIN
             42         3         2  huntt001       Batter        ANA
             43         3         2  matsh001       Batter        ANA
             44         3         2  hardj003    ShortStop        MIN
             45         3         2  morak001       Batter        ANA
             46         3         2  spand001  CenterField        MIN
             47         3         2  mornj001       Batter        MIN
             48         3         2  cuddm001       Batter        MIN
             49         3         2  woodb003    ThirdBase        ANA

                     Event PitchCount  Rbi StartBase EndBase Outs Players
GameId
ANA201004050 0   StrikeOut          8  NaN       NaN     NaN  NaN     NaN
             1      PutOut          2  NaN       NaN     NaN  NaN     NaN
             2         Out        NaN  NaN       NaN     NaN    1       2
             3         Out        NaN  NaN       NaN     NaN    1       2
             4      PutOut          3  NaN       NaN     NaN  NaN     NaN
             5         Out        NaN  NaN       NaN     NaN    1       2
             6         Out        NaN  NaN       NaN     NaN    1       2
             7        Walk         10  NaN       NaN       1  NaN     NaN
             8      PutOut          2  NaN       NaN     NaN  NaN     NaN
             9         Out        NaN  NaN       NaN     NaN    1       1
             10        Run        NaN  NaN         1       2  NaN     NaN
             11       Walk          4  NaN       NaN       1  NaN     NaN
             12     PutOut          3  NaN       NaN     NaN  NaN     NaN
             13        Out        NaN  NaN       NaN     NaN    1       1
             14        Hit          3    1       NaN       1  NaN     NaN
             15        Run        NaN  NaN         2       4  NaN     NaN
             16        Run        NaN  NaN         1       2  NaN     NaN
             17        Hit          3    1       NaN       1  NaN     NaN
             18        Run        NaN  NaN         2       4  NaN     NaN
             19        Run        NaN  NaN         1       2  NaN     NaN
             20     PutOut          6  NaN       NaN     NaN  NaN     NaN
             21        Out        NaN  NaN       NaN     NaN    1       1
             22        Hit          6    0       NaN       1  NaN     NaN
             23  StrikeOut          4  NaN       NaN     NaN  NaN     NaN
             24     PutOut          7  NaN       NaN     NaN  NaN     NaN
             25        Out        NaN  NaN       NaN     NaN    1       1
             26        Hit          3    1       NaN       4  NaN     NaN
             27        Run        NaN  NaN         1       4  NaN     NaN
             28     PutOut          3  NaN       NaN     NaN  NaN     NaN
             29        Out        NaN  NaN       NaN     NaN    1       2
             30  StrikeOut          4  NaN       NaN     NaN  NaN     NaN
             31        Hit          1    0       NaN       4  NaN     NaN
             32     PutOut          5  NaN       NaN     NaN  NaN     NaN
             33        Out        NaN  NaN       NaN     NaN    1       2
             34        Out        NaN  NaN       NaN     NaN    1       2
             35     PutOut          5  NaN       NaN     NaN  NaN     NaN
             36        Out        NaN  NaN       NaN     NaN    1       1
             37     PutOut          2  NaN       NaN     NaN  NaN     NaN
             38        Out        NaN  NaN       NaN     NaN    1       1
             39  StrikeOut          6  NaN       NaN     NaN  NaN     NaN
             40        Hit          2    0       NaN       2  NaN     NaN
             41  StrikeOut          4  NaN       NaN     NaN  NaN     NaN
             42  StrikeOut          4  NaN       NaN     NaN  NaN     NaN
             43     PutOut          2  NaN       NaN     NaN  NaN     NaN
             44        Out        NaN  NaN       NaN     NaN    1       1
             45     PutOut          4  NaN       NaN     NaN  NaN     NaN
             46        Out        NaN  NaN       NaN     NaN    1       1
             47  StrikeOut          5  NaN       NaN     NaN  NaN     NaN
             48     PutOut          4  NaN       NaN     NaN  NaN     NaN
             49        Out        NaN  NaN       NaN     NaN    1       2

In [34]:
events.Time = pd.to_datetime(events.Time)
events.Inning = events.Inning.astype('int')
events.HomeScore = events.HomeScore.astype('int')
events.AwayScore = events.AwayScore.astype('int')
events.PitchCount = events.PitchCount.astype('float')
events.Rbi = events.Rbi.astype('float')
events.StartBase = events.StartBase.astype('float')
events.EndBase = events.EndBase.astype('float')
events.Outs = events.Outs.astype('float')
events.Players = events.Players.astype('float')

In [35]:
events.dtypes

Time          datetime64[ns]
HomeTeam              object
AwayTeam              object
Inning                 int64
TopBottom             object
HomeScore              int64
AwayScore              int64
PlayerId              object
Position              object
PlayerTeam            object
Event                 object
PitchCount           float64
Rbi                  float64
StartBase            float64
EndBase              float64
Outs                 float64
Players              float64
dtype: object

In [36]:
events.to_csv('~/data/baseball/Season-2010.csv',index_label=False,index=False)

In [37]:
events.to_hdf('~/data/baseball/Season-2010.hd5',key='Data')